.app {
  height: 100vh;
  display: grid;
  grid-template:
    'header header' 50px
    'left-menu emails' 1fr /
    180px 1fr;
}

.app > .emails {
  grid-area: emails;
  padding: 0px 0;
}

.app > .emails > ul {
  list-style: none;
  display: grid;
}

.app > .left-menu {
  grid-area: left-menu;
  padding: 10px;
  padding-left: 10px;
  background-color: rgb(240, 240, 240);
}

.app > .left-menu .inbox-list {
  display: grid;
  grid-gap: 10px;
}

.app > .left-menu .inbox-list .item {
  padding: 5px 10px;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
}

.app > .left-menu .inbox-list .item.active {
  background-color: black;
  color: white;
}

.app > .left-menu .inbox-list .item.toggle {
  background-color: transparent;
  accent-color: black;
}

.email {
  display: grid;
  grid-template-columns: 30px 30px 150px 1fr;
  padding: 10px;
  background-color: white;
  font-size: 0.9rem;
  border-bottom: solid 1px #00000020;
}

.email:first-child {
  border-top: solid 1px #00000020;
}

.email:hover {
  box-shadow: -1px 1px 2px 0 #00000040;
  background-color: rgb(240, 240, 240);
  z-index: 1;
}

.email.read {
  accent-color: black;
}

.email.unread {
  font-weight: 600;
  accent-color: black;
}

.email .title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.email .star-checkbox {
  appearance: none;
  position: relative;
  display: grid;
  align-content: center;
}

.email .star-checkbox:focus {
  outline: none;
}

.email .star-checkbox:checked::before,
.email .star-checkbox::before {
  content: '';
  width: 15px;
  height: 15px;
  position: absolute;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition: transform 0.3s ease-in-out;
}

.email .star-checkbox::before {
  background-image: url(/public/star.png);
}

.email .star-checkbox:checked::before {
  background-image: url(/public/star\ filled.png);
}
