body {
  font-family: 'Times New Roman', Times, serif;
  background-color:#f5e7d5;
}
.app {
  border: 5px solid #5e554a;

}
.app > .header {
  grid-area: header;

  display: grid;
  grid-template-columns: 180px 1fr;

  border-bottom: solid 2px #3b2e2a;
  background-color:#f8f1e3;
}

.app > .header > .left-menu {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: left;
}

.app > .header > .left-menu .menu-icon {
  width: 25px;
  height: 30px;
  margin: 10px;
}

.app > .header > .search {
  display: grid;
  padding: 6px;
}

.app > .header > .search .search-bar {
  border: none;
  border-radius: 5px;
  background-color: #3b2e2a;
  padding: 0 10px;
  font-size: 1rem;
}

.left-menu img {
  height: 35px;
  width: 30px;
}

.logo-text {
  font-family: fantasy;
  font-size: 20px;
  margin-left: 10px; 
  color: #3b2e2a;
  vertical-align: middle;
}

.menu-icon img {
  width: 30px;
  height: 24px;
  margin-right: 10px;
  cursor: pointer;
}
.logo-img img {
  height: 35px;
  width: 35px;
  margin-right: 1px;
}