.app > .header {
  grid-area: header;
  display: grid;
  grid-template-columns: 180px 1fr;
  background-color: rgb(240, 240, 240);
}

.app > .header > .left-menu {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: left;
  background-color: rgb(240, 240, 240);
}

.app > .header > .left-menu .menu-icon {
  width: 25px;
  height: 25px;
  margin: 10px;
}

.app > .header > .search {
  display: grid;
  padding: 0px;
  width: 1700px;
  margin-top: 11px;
  margin-bottom: 11px;
}

.app > .header > .search .search-bar {
  border: none;
  border-radius: 5px;
  background-color: "white";
  padding: 0 10px;
  font-size: x-small;
}
